@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Palette 1 - Tech Blue Gradient */
  --color-lightest: #D4F0FC;   /* very light blue */
  --color-light: #89D6FB;      /* sky blue */
  --color-bright: #02A9F7;     /* bright blue */
  --color-dark: #02577A;       /* dark teal blue */
  --color-darker: #01303F;     /* navy dark */

  --foreground-rgb: 211, 216, 232; /* light greyish blue */
  --background-color: #0d1224;     /* your existing dark background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  /* padding-top: calc(var(--index) * 2.5rem); */
  top: calc(var(--index) * 4rem);
}
